.ignore-in-parent-frame {
  #inbox-plain-wrapper {
    color: #eee;
  }

  html {
    background-color: transparent;
  }

  #inbox-html-wrapper {
    background-color: #fff;
  }

  // .mail-wrapper,
  // .summary-email {
  //   filter: invert(100%) hue-rotate(180deg);
  //   color: #111;

  //   img {
  //     filter: invert(100%) hue-rotate(180deg);
  //   }

  //   img.icloud-logo {
  //     filter: none;
  //   }
  // }
}